npm-debug.log
yarn-error.log
pnpm-lock.yaml


*.log
*.env
.env.local
.env.development
.env.test
.env.production
.DS_Store


dist
build
.cache


.vscode/
.idea/
*.swp


docker/
docker-compose.yml
dev.docker-compose.yml
Dockerfile
dev.Dockerfile


__tests__/
coverage/
*.test.js
*.spec.js
jest.config.js
